*{
    margin: 0;
    padding: 0;
}
.logo {
    width: 20vw;
}
#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.barraDePesquisa { 
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #eae7e7
}
.barraDePesquisa::placeholder{ 
    padding-left: 10px;
    color: #a6a6a5
 }
 .search {
    width: 40vw;
 }
#searchIcon {
    margin-left: -2vw;
    color: #a6a6a5
}
.redirections {
    width: 20vw;
    height: 5vh;
    display: flex;
}
.links  {
    width: 17vw;
    height: 5vh;
    align-items: center;
    display: flex;

}
.links button {
    margin-left: 2vw;
    height: 5vh;
    width: 6vw;
    border-radius: 5px;
    color: white;
    background-color: #c92071;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
#carinho {
    color:#c92071;
    font-size: 20px;
    align-items: center;
    display: flex;

}